<div class="relative top-0 right-0 w-full bg-transparent min-h-3">
  <nav class="flex justify-between items-center p-3 text-white">
    <div class="flex items-center gap-3">
      <a [routerLink]="['']" class="text-3xl font-bold title">DnD Master Helper</a>
      <section class="mx-10 flex flex-row flex-nowrap gap-4">
        <a [routerLink]="['ask-question']" routerLinkActive="active"
           class="text-xl font-semibold title no-underline hover:underline transition-all">Ask Questions</a>
        <a [routerLink]="['document-loader']" routerLinkActive="active"
           class="text-lg title no-underline hover:underline transition-all">Load
          Docs</a>
        <a [routerLink]="['support-me']" routerLinkActive="active"
           class="text-lg title no-underline hover:underline transition-all">Support
          Me</a>
      </section>

    </div>
    <div class="flex flex-row gap-3 items-center mx-2">
      <select id="language"
              class="h-12 nice-borders p-2" [(ngModel)]="select">
        <option value="en">EN</option>
        <option value="it">IT</option>

      </select>


      <section class="mx-3">
        @if (!authService.loggedInUser) {
          <a [routerLink]="['login']" routerLinkActive="active"
             class="text-lg title no-underline hover:underline transition-all"> Login </a>
        } @else {
          <div class="flex flex-row gap-4 mx-2">
            <ng-icon [name]="'faSolidDiceD20'" class="cursor-pointer" [routerLink]="['profile']"></ng-icon>
            <ng-icon [name]="'jamLogOut'" (click)="logout()" class="cursor-pointer"></ng-icon>
          </div>


        }
      </section>


    </div>
  </nav>

</div>
