<div class="flex my-1 gap-4"
     [class.flex-row]=" messageSender() === 'system' ||  messageSender() === 'assistant' "
     [class.flex-row-reverse]=" messageSender() === 'user' "
>
  <section class="flex flex-col gap-2">
    <div class="rounded-full h-10 w-10 flex flex-col items-center nice-borders ">
      <ng-icon [name]="iconName()" class="m-auto"></ng-icon>
    </div>
    <div class="text-xs w-10">{{ messageSender() === 'user' ? 'Master' : 'Lore Keeper' }}</div>
  </section>

  <div class="rounded-lg w-full min-h-10 border-solid border-2 border-slate-800 bg-opacity-30 p-2"

       [class.bg-slate-600]=" messageSender() === 'system' ||  messageSender() === 'assistant' "
       [class.bg-slate-300]=" messageSender() === 'user' "
       [innerHTML]="message()">
  </div>
</div>
