<div class="p-3 flex flex-col gap-4 w-full md:w-2/3 lg:w-3/5 xl:w-3/5 m-auto mt-16">

  <section class="p-2">
    <label for="inputFile" class="mr-3">Upload New Docs</label>
    <input type="file" id="inputFile" class="mb-3
      text-sm text-gray-100
     file:mr-5 file:py-2 file:px-4 file:border-[1px] file:border-[orange] file:rounded
     file:shadow
     file:transition-all
     hover:file:border-[yellow]
     file:text-xs file:font-medium
     file:bg-black_bean-500 file:text-gray-100
     hover:file:cursor-pointer"
           (change)="uploadDocument($event)"
           accept="application/pdf"/>

    <div class="my-3">Upload new documents to expand the lore of your world, each document will be used for future
      searches.
      Through AI it will we possible to create small summaries of your documents that will be used to index the articles
      and to know what document to search when you ask a question (at least that's the idea).
    </div>
    <div class="my-3">
      Each document will have an original title and a title, the original title is the name of the document as it was
      uploaded, the title is the name that the AI think it suits the document.
    </div>
    <div class="my-3 font-bold">
      Please expect some time for the documents to be processed, the more documents you upload the more time it will
      take (it also depends on your pc specs).
    </div>
  </section>

  <hr class="w-1/2">

  <section class="m-4">
    <h2 class="text-2xl title my-2">All documents ({{ (articles().length) }})</h2>

    @if (articles().length > 0) {

      <div class="flex flex-col text-white my-2">

        <div class="flex flex-row-reverse mt-4 mb-8">
          <input type="text" class="w-1/3" [(ngModel)]="filter" placeholder="Filter"/>
        </div>

        <app-documents-table [articles]="articlesFiltered()" (onDeleteDocument)="deleteDocument($event)"/>
      </div>
    } @else {
      <div class="text-white text-lg underline">No documents loaded</div>
    }

  </section>


</div>

@if (isLoadingDocuments()) {
  <div class="z-10 w-full h-full absolute top-0 right-0 backdrop-blur-lg">
    <div
      class="w-4/5 md:w-1/2 lg:w-1/2 xl:w-1/3 m-auto min-h-3 mt-10 p-5 bg-black_bean-500 nice-borders flex flex-col gap-2">
      <span>Splitting and loading docs:</span>
      <span>
        {{ loadingDocumentsMessage() }}
      </span>
      <span class="loading"></span>
      <div class="flex flex-col gap-1">
        <span class="underline cursor-pointer" (click)="interrupt()">Stop Operation </span>

        <span class="text-xs"> This will interrupt the process and reload the app, but the saved documents will be safe in the Lore Keeper's memory</span>

      </div>
    </div>
  </div>

}
