<div class="p-3 flex flex-col gap-4">

  <section class="p-2">
    <label for="inputFile" class="mr-3">Upload New Docs</label>
    <input type="file" id="inputFile" class="m-auto mb-3
      text-sm text-gray-100
     file:mr-5 file:py-2 file:px-4 file:border-[1px] file:border-[orange] file:rounded
     file:shadow
     file:transition-all
     hover:file:border-[yellow]
     file:text-xs file:font-medium
     file:bg-black_bean-500 file:text-gray-100
     hover:file:cursor-pointer"
           (change)="engineService.onFileSelected($event)"
           accept="application/pdf"/>

    <div class="my-2">Upload new documents to expand the lore of your world, each document will be used for future
      searches.
      Through AI it will we possible to create small summaries of your documents that will be used to index the articles
      and to know what document to search when you ask a question (at least that's the idea).
    </div>
    <div class="my-2">
      Each document will have an original title and a title, the original title is the name of the document as it was
      uploaded, the title is the name that the AI think it suits the document.
    </div>
    <div class="my-2 text-lg">
      Please expect some time for the documents to be processed, the more documents you upload the more time it will
      take (it also depends on your pc specs).
    </div>
  </section>

  <hr class="w-1/2">

  <section class="m-4">
    <h2 class="text-2xl title my-2">All documents</h2>

    @if (articles().length > 0) {

      <div class="flex flex-col text-white my-2">

        <table class="table-auto">
          <thead>
          <tr>
            <th class="text-left text-lg">Title</th>
            <th class="text-left text-lg">Original Title</th>
          </tr>
          </thead>
          <tbody>
            @for (article of articles(); track $index) {
              <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.originalDocumentTitle }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <div class="text-white text-lg underline">No documents loaded</div>
    }

  </section>


  <button class="btn secondary w-60" (click)="loadDocuments()"> Load Documents</button>

</div>
