<div class="p-3 flex flex-col gap-4 w-full md:w-2/3 lg:w-3/5 xl:w-3/5 m-auto">
  <section class="p-2">
    <h2 class="text-3xl title my-2">Chat with the lore keeper</h2>

    <div class="my-3">
      Here you can ask questions about the lore of your campaign. The lore keeper will try to answer your questions as
      best as possible. <br>
      If the information you ask is not in the lore keeper's database, it will tell you clearly so. This way you can
      improve your lore.
    </div>
  </section>
</div>

<div class="p-3 flex flex-col gap-4 w-full md:w-2/3 lg:w-3/5 xl:w-3/5 m-auto">

  <section id="chat"
           class="resize-y w-full border-4 border-solid border-slate-700 bg-slate-400 bg-opacity-30 min-h-[26.5rem] max-h-chat
           rounded-2xl flex flex-col overflow-auto justify-between">
    <div class="flex flex-col w-full h-4/5 px-4 pt-3 pb-1 overflow-y-auto">
      <app-chat-message messageSender="system"
                        message="Greetings, Esteemed Master of Adventures.
                         I am the Lore Keeper, your faithful guide through the vast tapestry of your imagination.
                         In this sacred space, I stand ready to assist you in unearthing the secrets woven
                          into the very fabric of your lore. Should you seek knowledge of illustrious heroes,
                           ancient realms, or fateful events, do not hesitate to summon my wisdom."></app-chat-message>

      @for (message of conversationDisplay(); track $index) {
        <app-chat-message [messageSender]="message.role"
                          [message]="message.content"></app-chat-message>
      }
      @if (loadingAnswer()) {
        <app-chat-message messageSender="assistant"
                          message="I'm searching answers among the forbidden tomes<span class='loading'><span>"></app-chat-message>
      }

    </div>

    <form class="w-full flex flex-row" (ngSubmit)="submitMessage()">
      <textarea class="w-full rounded-bl-2xl rounded-r-none"
                placeholder="Ask something about your lore to the Lore Keeper" [(ngModel)]="message"
                [ngModelOptions]="{standalone: true}"></textarea>
      <button type="submit" class="btn primary w-1/6 rounded-br-2xl submit-button">Send</button>
    </form>
  </section>
</div>
