<table class="table-auto w-full">
  <thead>
    <tr>
      <th class="text-left text-lg">Title</th>
      <th class="text-left text-lg">Original Title</th>
      <th class="text-lg">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (article of articles(); track $index) {
    <tr
      class="items-center border-gray-600 border-b-[1px] border-solid bg-transparent hover:bg-black_bean-500 transition-all"
    >
      <td class="p-3">{{ article.title }}</td>
      <td class="p-3">{{ article.originalDocumentTitle }}</td>
      <td
        class="text-center flex align-baseline text-xl cursor-pointer items-center p-3 flex-row gap-3"
      >
        <ng-icon
          name="jamSkull"
          class="transition-all hover:text-2xl hover:text-red-300 text-red-500"
          (click)="deleteDocument({ _id: article._id, _rev: article._rev })"
        ></ng-icon>
        <ng-icon
          name="jamFeather"
          class="transition-all hover:text-2xl hover:text-green-300 text-green-500"
          (click)="editDocument({ _id: article._id, _rev: article._rev })"
        ></ng-icon>
      </td>
    </tr>
    }
  </tbody>
</table>
