<div class="p-3 flex flex-col gap-4 w-5/6 md:w-2/3 lg:w-3/5 xl:w-3/5 m-auto mt-16">
  <h1 class="text-5xl font-bold mb-4 title">Support me</h1>

  <section class="mb-6">
    <h2 class="text-2xl font-semibold mb-2 title">Thank you for using this lore keeping app!</h2>
    <p class="mb-4">
      Welcome to the Lore Keeper inn! <br> I'm Federico Casadei the creator of this app, an italian developer based in
      Italy.
      <br> Creating this app has been a labor of love, and I’m passionate about providing you
      with a tool that enhances your Dungeons & Dragons experience. As a solo developer, I’ve poured many hours
      into designing and building this application, which leverages AI to read documents, summarize them, and answer
      your questions as effectively as possible.
    </p>
  </section>

  <section class="mb-6">
    <h2 class="text-2xl font-semibold mb-2 title">How you can support my work <3</h2>
    <p class="mb-4">
      If you enjoy using the app and would like to show your appreciation for my work, consider contributing through
      <strong>Ko-fi</strong>. Your support is not just about financial assistance, it’s a way to encourage me to
      continue improving the app and adding new features that enhance your experience.
    </p>
    <a href="https://ko-fi.com/lorekeeper" target="_blank"
       class="inline-block mt-5 btn primary">
      Support Me on Ko-fi
    </a>
  </section>

  <section class="mb-6">
    <h2 class="text-3xl font-semibold mb-2 title">What Your Support Means</h2>
    <ul class="list-disc list-inside mb-4">
      <li><strong>Appreciation:</strong> Your contributions show me that my work is valued and motivate me to keep
        enhancing the app.
      </li>
      <li><strong>Feature Development:</strong> With your support, I can focus on developing new features that will make
        the app even better for all users.
      </li>
      <li><strong>Continuous Improvement:</strong> Your encouragement helps me dedicate time to refine existing
        functionalities and ensure a seamless user experience.
      </li>
    </ul>
  </section>


  <section class="mb-6">
    <h2 class="text-2xl font-semibold mb-2 title">Useful links & contacts</h2>
    <ul class="list-disc list-inside mb-4">
      <li><a href="https://www.linkedin.com/in/federico-casadei-8b572b1b8/" target="_blank" class="underline">
        LinkedIn</a>
      </li>
      <li><a href="https://github.com/fcport" target="_blank" class="underline">GitHub</a>
      </li>
      <li><a href="https://federicocasadei.dev/" target="_blank" class="underline">My Website</a>
      </li>
    </ul>
  </section>

  <section>
    <h2 class="text-2xl font-semibold mb-2 title">Thank You!</h2>
    <p class="mb-4">
      Every contribution, no matter how small, makes a difference. I appreciate your support and am excited to continue
      this journey with you. Thank you for being part of the Lore Keeper community!
    </p>
  </section>

  <hr>
</div>
