/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  @apply font-raleway h-full;

}

body {
  @apply bg-gradient-to-b from-licorice to-raisin_black text-gray-100;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  @apply font-cinzel
}

.error {
  @apply py-2 px-3 bg-red-800 text-gray-100 ;
}

.panel {
  @apply bg-gray-100 shadow-md rounded-lg p-4;
}

.btn.primary {
  @apply text-gray-100 bg-gradient-to-r from-red-600 via-orange-600 to-90% to-stone-500 to-95%
  py-2 px-4 rounded-lg transition-all;
}


.nice-borders {
  background: linear-gradient(#3a1e19, #3a1e19) padding-box,
  linear-gradient(to right, rgba(255, 0, 0, 0.6), rgba(255, 128, 13, 0.9)) border-box;
  //border-radius: 50em;
  border: 2px solid transparent;
}

.btn.secondary {
  @apply text-gray-100 bg-black_bean-600 bg-opacity-85
  py-2 px-4 rounded-lg transition-all nice-borders;

}

.btn.secondary:hover {
  @apply bg-yellow-300;
}


.btn.primary:hover {
  -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);

}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;
  }
}

